/* Structure & Background
----------------------------- */

.banner {
  background-attachment: fixed;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 818px;
  /* height: 75%; */
  background: url(../assets/backgrounds/bg.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.banner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.banner:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, .2);
}

.inner-banner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  margin-top: 20%;
  max-width: 80%;
}

.inner-banner:before {
  content: '';
  display: block;
  position: relative;
  background-position: center;
  /*top: 0;
  left: 0;*/
  width: 337px;
  height: 337px;
  left: 50%;
  top: 50%;
  margin-left: -168px;
  margin-top: -168px;
  background: url(../assets/backgrounds/dark-red1.png);
  background-size: 100%;
}

.outer-banner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 756px;
  background-image: url(../assets/backgrounds/triangles.png);
  background-size: cover;
  background-position: center;
  opacity: .03;
}


/* Type
----------------------------- */

.heading {
  position: relative;
  z-index: 2;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.26em;
  font-weight: 300;
  font-style: italic;
  font-family: "freight-big-pro";
  margin-bottom: 0;
  margin-top: 28px;
  text-transform: uppercase;
}

.sub-heading {
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font-family: "brandon-grotesque";
  font-size: 13px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.divider {
  width: 80px;
  margin-top: 75px;
  border-color: rgba(255, 255, 255, .3);
  border-width: 0;
  border-bottom-width: 1px;
}

.about {
  position: relative;
  width: 100%;
  min-height: 759px;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-pic {
  float: left;
  width: 50%;
  min-height: 759px;
  background-color: #ca312e;
  display: block;
  position: relative;
}

.about-pic .about-name {
  text-align: center;
  width: 20%;
  height: 30%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 3.5%;
  /*background-image: url(../assets/about/about-me-icon.jpg);
  background-position: center;*/
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 112px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.26em;
}

.about-pic .about-name img {
  height: 30;
  width: 100;
  vertical-align: middle;
  position: relative;
}

.about-intro {
  float: right;
  width: 50%;
  min-height: 818px;
  position: relative;
}

.about-intro .about-text {
  /*text-align: center;*/
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 30%;
  /*font-family: "brandon-grotesque";
  font-size: 13px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.26em;*/
}

.about-intro .about-text .hello {
  /*font-family: 'Cabin', Helvetica, Arial, sans-serif;*/
  /*font-family: 'Lobster', Georgia, Times, serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Flamenco', 'asap';
  font-size: 30px;
  font-weight: 1000;
  /*color: #6f625b;*/
  color: #888;
  margin-bottom: 5%;
  margin-top: 10%;
  font-weight: 700;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0;
  */
}

.about-intro .about-text .name {
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2px;
  font-weight: 800;
  color: #888;
  /*color: #343434;*/
  margin-bottom: 5%;
  /*font-family: 'Lobster', Georgia, Times, serif;*/
  /*font-family: 'Cabin', Helvetica, Arial, sans-serif;*/
  font-family: 'Flamenco', 'asap';
  /*font-size: 48px;
  line-height: 56px;
  letter-spacing: -2px;
  font-weight: 600;*/
  /*font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 23px 0;
  font-style: italic;*/
}

.about-intro .about-text .passion {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Cabin', Helvetica, Arial, sans-serif;*/
  font-family: 'Flamenco', 'asap';
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 28px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #888;
  margin-bottom: 7%;
}

.about-intro .about-text .quote {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Cabin', Helvetica, Arial, sans-serif;*/
  font-family: 'Flamenco', 'asap';
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 550;
  color: #888;
  margin-left: 15%;
  margin-top: -15%;
}

.about-intro .about-text .quote-author {
  /*font-family: 'pacifico', cursive;*/
  font-family: 'Flamenco', 'asap';
  /*font-family: 'Cabin', Helvetica, Arial, sans-serif;*/
  /*text-align: center;*/
  font-weight: 550;
  color: #888;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  margin-left: 15%;
  letter-spacing: 2px
}

@media (max-width: 600px) {
  .name {
    font-size: 30px;
    letter-spacing: 0.2em;
  }
}

@media (max-width: 400px) {
  .name {
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .byline {
    font-size: 12px;
    letter-spacing: 0.2em;
  }
  .wrapper-inner {
    margin-top: 20%;
  }
  .wrapper-inner:before {
    width: 200px;
    height: 200px;
    margin-left: -100px;
    /*margin-top: -100px;*/
    margin-top: 30%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /*[class*="col-"] {
        width: 100%;
    }
}*/
  .name {
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .byline {
    font-size: 12px;
    letter-spacing: 0.2em;
  }
  .wrapper-inner {
    margin-top: 20%;
  }
  .wrapper-inner:before {
    width: 200px;
    height: 200px;
    margin-left: -100px;
    top: 50%;
    /*margin-top: -100px;*/
    margin-top: 30%;
  }
}
